HardWave/GPUCache/*
HardWave/signoise.run/*
HardWave/dsp6713_system-PSpiceFiles/*
HardWave/DSP6713_SYSTEM.png
HardWave/allegro/allegro.jrl
HardWave/allegro/allegro.jrl,1
HardWave/allegro/dangling_lines.rpts
HardWave/allegro/master.tag
HardWave/allegro/quickplace.log
HardWave/allegro/signoise.run/cases.cfg
HardWave/allegro/signoise.run/cases.cfg,1
HardWave/DSP6713_SYSTEM_0.DBK
HardWave/allegro/art_param.txt
HardWave/allegro/art_param.txt,1
HardWave/allegro/batch_drc.log
HardWave/allegro/cmpshape.log
HardWave/allegro/cmpshape.log,1
HardWave/allegro/cmpshape.log,2
HardWave/allegro/cmpshape.log,3
HardWave/allegro/dangling_lines.rpt
HardWave/allegro/dangling_lines.rpt,1
HardWave/allegro/dt_wizard.log
HardWave/allegro/quickplace.log,1
HardWave/allegro/quickplace.log,2
HardWave/allegro/quickplace.log,3
HardWave/allegro/refresh.log
HardWave/allegro/refresh.log,1
HardWave/allegro/refresh.log,2
